<div mat-dialog-content>
    <div class="container-fluid popwindow">
        <div class="password-form">
            <form #passwordForm="ngForm" class="add-project-form" [formGroup]="updatePasswordForm">
                <mat-form-field class="form-full-width">
                    <mat-label>Old Password</mat-label>
                    <input type="password" matInput placeholder="Old Password" [formControlName]="'oldPassword'" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="updatePasswordForm.get('oldPassword').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-full-width">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput placeholder="New Password" [formControlName]="'password'" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="updatePasswordForm.get('password').hasError('password') && !updatePasswordForm.get('password').hasError('required')">
                        Please enter a valid password
                    </mat-error>
                    <mat-error *ngIf="updatePasswordForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="New Password" [formControlName]="'confirmPassword'" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="updatePasswordForm.get('confirmPassword').hasError('confirmPassword') && !updatePasswordForm.get('confirmPassword').hasError('required')">
                        Please re-enter a valid password
                    </mat-error>
                    <mat-error *ngIf="updatePasswordForm.get('confirmPassword').hasError('required')">
                        Confirm password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="updatePasswordForm.get('confirmPassword').hasError('mustMatch')">
                        Confirm password and Password doesn't match
                    </mat-error>
                </mat-form-field>

                <button (click)="updatePassword(passwordForm)" mat-raised-button color="primary" [disabled]="!updatePasswordForm.valid">Update Password</button>
            </form>

        </div>
    </div>
</div>