<div mat-dialog-content>
    <div class="container-fluid popwindow">
        <div class="add-form">
            <form #addForm="ngForm" class="add-project-form" [formGroup]="updateProjectForm">
                <mat-form-field class="form-full-width">
                    <input matInput placeholder="Project Name" [formControlName]="'projectName'" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="updateProjectForm.get('projectName').hasError('required')">
                        Project name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="Description" [formControlName]="'description'" [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="updateProjectForm.get('description').hasError('required')">
                        Description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <button (click)="updateProject(addForm)" mat-raised-button color="primary" [disabled]="!updateProjectForm.valid">Update Project</button>
            </form>

        </div>
    </div>
</div>