<div class="container-fluid">

    <app-project-info>

    </app-project-info>


    <div class="row">


        <div class="col-xl-3 col-md-6 mb-4" (click)="scrollToElement('pt', 'ALL')" onmouseover="" style="cursor: pointer;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Tickets (Total)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfTickets}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4" (click)="scrollToElement('pt', 'ASSIGNED')" onmouseover="" style="cursor: pointer;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Tickets Assigned To You</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfAssignedTickets}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4" (click)="scrollToElement('pt', 'CLOSED')" onmouseover="" style="cursor: pointer;">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Closed Tickets
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{numberOfClosed}}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" [style.width]="closedPersantage+'%'" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4" (click)="scrollToElement('memb', 'none')" onmouseover="" style="cursor: pointer;">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Members</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfMembers}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="padding-top: 40px;">
        <h1 class="h3 mb-0 text-gray-800">Tickets</h1>
    </div>

    <div id="pt">
        <app-project-tickets></app-project-tickets>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="padding-top: 40px;">
        <h1 class="h3 mb-0 text-gray-800">Members</h1>
    </div>
    <div class="col-xs-12 col-sm-6 memb" id="memb">
        <app-project-members></app-project-members>
    </div>
</div>