.col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
}

.container {
    max-width: 900px;
}

span {
    padding-right: 10px;
}

.bold-text {
    font-weight: bold;
}

.mat-primary {
    background-color: #2fb72f;
}